<div class="header_section">
    <div class="header_left">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="index.html"><img src="../assets/images/logo.png"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="team.html">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div> -->
      </nav>
      <div class="banner_main">
        <h1 class="banner_taital">Create and Analyze <br>Survay</h1>
        <p class="banner_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
        <div class="btn_main">
          <div class="more_bt"><a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up </a></div>
          <div class="contact_bt"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">LOGIN</a></div>
        </div>
      </div>
    </div>
    <div class="header_right">
      <img src="../assets/images/banner-img.png" class="banner_img">
    </div>
  </div>
  

  <router-outlet></router-outlet>